<!DOCTYPE html>
<html lang="en">
<head></head>
    <title></title>
    <style>
        section{
            display: flex;
        }
        section,div{
            border: 2px solid violet;
            padding: 10px;
            margin: 10px;
        }
        section div{
            flex: 1;
            margin: 10px;
        }
    </style>
</head>
<body>
    <section>
        <div>col 1</div>
        <div>col 2</div>
        <div>col 3</div>
        <div>col 4</div>
        <div>col 1</div>
        <div>col 2</div>
        <div>col 3</div>
        <div>col 4</div>
    </section>
</body>
</html>