<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flex Box Container</title>
    <style>
        div{
            display: flex;
            border: 2px solid forestgreen;
            padding: 10px;
            margin: 10px;
            flex-direction: column-reverse;
            flex-flow: row;
            justify-content: center;
        }

    </style>
</head>
<body>
    <div class="flex-container">
        <div class="c1">1</div>
        <div class="c2">2</div>
        <div class="c3">3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
        <div>8</div>
        <div>9</div>
        <div>10</div>
        <div>11</div>
        <div>12</div>
      </div>
</body>
</html>